.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    padding: 15px 30px;
    background-color: #42342A;
  
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .nav-left {
    display: flex;
    gap: 20px;
  }
  
  .nav-right {
    margin-left: auto; 
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .account-icon {
    color: white;
    display: flex;
    align-items: center;
  }
  
  .account-icon:hover {
    color: #836953;
  }